@import "../../../styles/variables";

.header {
  padding: 1rem;
  background: $primary;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin: 1rem;
  color: $textColor;
}
